<%
  code_path = File.expand_path(File.join(ENV["HPDEV_WORKSPACE"], params[:package]))
  url = "#{$server_url}/code/#{params[:package]}"
%>
<h2><%= params[:package] %>/master (package)</h2>
<p class="homepage">has following URL:</p>
<p class="url"><a href="<%=url%>/master"><%=url%>/master</a></p>
<p class="url-note">Use this URL to reference this package in HashPage.</p>

<p><a href="/code">&larr; back to code</a></p>