<h2>Congratulations, you are running!</h2>

<p>Development server simulates environment of production site. For example, dev server packs widget parts and serve it to the browser as one file. It helps you to keep widget source code structured.</p>

<h3>Currently, we are able to serve</h3>
<ul>
  <li><a href="/widgets">widgets</a></li>
  <li><a href="/skins">skins</a></li>
  <li><a href="/code">code</a></li>
</ul>