<%
  widgets_path = File.expand_path(File.join(ENV["PBDEV_WORKSPACE"], "widgets", params[:author]))
%>
<h2>Widgets by <%= params[:author] %></h2>
<h3>I see following widgets on the disk:</h3>
<p class="note">root path is <code><%= widgets_path %></code></p>
<ul>
  <%=
    res = ""
    Dir.glob(widgets_path+"/*").each do |file|
      widget = File.basename(file)
      res << "<li><a href=\"/widgets/#{params[:author]}/#{widget}\">#{widget}</a></li>"
    end
    res
  %>
</ul>

<p><a href="/widgets">&larr; back to authors</a></p>